@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

h1, .h1 {
  font-size: 28px;
  line-height: 34px;
  font-family: "Roboto-bold";
}

h2, .h2 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto-bold";
}

h3, .h3 {
  font-size: 20px;
  line-height: 26px;
  font-family: "Roboto-bold";
}

h4, .h4 {
  font-size: 18px;
  line-height: 23px;
  font-family: "Roboto-bold";
}

h5, .h5 {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto-bold";
}

h6, .h6 {
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto-regular";
}

.h6-bold {
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto-bold";
}

.h7 {
  font-size: 13px;
  line-height: 19px;
  font-family: "Roboto-regular";
}

.h7-bold {
  font-size: 13px;
  line-height: 19px;
  font-family: "Roboto-bold";
}

.h8 {
  font-size: 12px;
  line-height: 15px;
  font-family: "Roboto-regular";
}

a {
  color: #222222;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto";
}

.n-color-red {
  color: #ec0001;
}

.n-color-grey3 {
  color: #666666;
}

.detail-news-content-main {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}

#first-content-detail {
  margin-top: 40px;
}

#first-content-detail .detail-news-title .bread-crumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-content-detail .detail-news-title .bread-crumb .n-color-grey3.h6 {
  padding-top: 2px;
}

#first-content-detail .detail-news-title .bread-crumb div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#first-content-detail .detail-news-title .bread-crumb .bread-crumb-icon-next {
  padding: 0 10px;
}

#first-content-detail .detail-news-title .box-title {
  padding-top: 16px;
}

#first-content-detail .detail-news-title .box-icon {
  padding-top: 18px;
}

#first-content-detail .detail-news-title .print-post {
  background-color: #dedede;
  padding: 7px 12px 5px 12px;
}

#first-content-detail .detail-news-content {
  padding-top: 20px;
}

#first-content-detail .detail-news-content .detail-news-content-title {
  color: #222222;
}

#first-content-detail .detail-news-content ul.detail-news-list {
  padding-top: 12px;
  color: #444444;
  margin-bottom: 0;
}

#first-content-detail .detail-news-content ul.detail-news-list li {
  font-size: 13px;
  line-height: 15px;
  list-style-type: disc;
  margin-left: 17px;
  padding-top: 8px;
}

#first-content-detail .detail-news-content ul.detail-news-list ::marker {
  color: #ec0001;
}

#first-content-detail .detail-news-content .detail-news-content-main {
  padding-top: 20px;
}

#first-content-detail .detail-news-content .box-image {
  background-color: #f5f5f5;
  color: #666666;
}

#first-content-detail .detail-news-content .box-image .h8 {
  padding: 10px 15px;
}

#first-content-detail .detail-news-content .box-audio {
  padding-top: 24px;
}

#first-content-detail .detail-news-content .box-audio .box-audio-title {
  padding-bottom: 12px;
}

#first-content-detail .detail-news-content .box-audio .box-audio-content {
  padding-top: 12px;
}

#first-content-detail .detail-news-content .box-audio audio {
  width: 100%;
  border-radius: 0;
  background-color: #f5f5f5;
}

#first-content-detail .detail-news-content .box-audio audio::-webkit-media-controls-enclosure {
  background-color: #f5f5f5;
}

#first-content-detail .detail-news-content .box-files {
  padding-top: 24px;
}

#first-content-detail .detail-news-content .box-files .box-files-title {
  padding-bottom: 12px;
}

#first-content-detail .detail-news-content .box-files .file {
  margin: 10px 0;
  padding: 15px 15px 10px 15px;
  width: 100%;
  border-radius: 0;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-content-detail .detail-news-content .box-files .file i {
  color: #666666;
}

#first-content-detail .detail-news-content .box-files .file h6 {
  color: #222222;
}

#first-content-detail .detail-news-content .box-files .box-files-content {
  padding-top: 12px;
}

#first-content-detail .detail-news-content .box-author {
  padding-top: 24px;
}

#first-content-detail #Related-news .box-header {
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}

#first-content-detail #Related-news .col-6.col-md-4:nth-child(n + 4) {
  padding-top: 40px;
}

#first-content-detail .box-fb-cmt {
  padding-top: 24px;
}

#first-content-detail .box-fb-cmt .box-icon {
  margin: 8px 0;
}

#first-content-detail .box-tag {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#first-content-detail .box-tag a {
  margin-right: 10px;
  margin-top: 10px;
}

#first-content-detail .box-feedback {
  margin-top: 32px;
  padding: 12px 12px 12px 12px;
  background-color: #f5f5f5;
}

#first-content-detail .box-feedback .box-feedback-btn textarea {
  width: 100%;
  padding: 10px;
  border-color: #dedede;
}

#first-content-detail .box-feedback .box-feedback-btn a {
  margin-top: 10px;
}

#other-news {
  padding-top: 32px;
}

#other-news .box-header {
  padding-bottom: 16px;
}

@media (max-width: 767px) {
  #first-content-detail .box-icon {
    margin-left: 0px;
  }
  #first-content-detail #Related-news .box-header {
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
  }
  #first-content-detail #Related-news .col-6.col-md-4:nth-child(n + 4) {
    padding-top: 0;
  }
  #first-content-detail #Related-news .col-md-4 {
    padding-right: 8px;
    padding-left: 8px;
  }
  #first-content-detail #Related-news .box-content {
    padding-bottom: 20px;
  }
  #other-news {
    padding-top: 0;
  }
  #other-news .box-header {
    padding-left: 16px;
    padding-bottom: 6px;
  }
}
/*# sourceMappingURL=detail.css.map */