@import 'variable';

#first-content-detail{
    .detail-news-title{
        .print-post{
            background-color: $grey6;
            padding:7px 12px 5px 12px;
        }
    }
    .detail-news-content{
        ul{
            li{
                list-style-type:disc;
                margin-left: 17px;
                
            }
            ::marker {
                color: $red;
            }
        }
        .box-image{
            background-color: $grey7;
            color: $grey3;
            .h8{
                padding: 10px 15px;
            }
        }
        .box-audio{
            margin: 15px 0;
            audio{
                width:100%;
                border-radius:0;
                background-color:$grey7;
            }
            audio::-webkit-media-controls-enclosure {
                background-color: $grey7;
            }
        }
        .box-files{

            .file{
                margin: 10px 0;
                padding: 15px 15px 0px 15px;
                width:100%;
                border-radius:0;
                background-color:$grey7;
                display:flex;
                i{
                    color: $grey3;
                }
                h6{
                    color: $grey1;

                }
            }
        }
        
    }
    #Related-news{
        .col-6{
            padding:15px;
        }
    }


    .box-fb-cmt{
        margin: 10px 0;

        h6{
            margin:8px 0;
        }
    }
    .box-tag{
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        a{
            margin-right: 10px;
            margin-top: 10px;
        }
    }
    .box-feedback{
        margin: 10px 0;
        padding: 15px 15px 16px 15px;
        background-color:$grey7;
        .box-feedback-btn{
            textarea{
                width: 100%;
                padding: 10px;
                border-color:#DEDEDE;
            }
            a{
                margin-top: 10px;

            }
        }
    }
}