@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

h1 {
  font-size: 28px;
  line-height: 34px;
  font-family: "Roboto-bold";
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto-bold";
}

h3 {
  font-size: 20px;
  line-height: 26px;
  font-family: "Roboto-bold";
}

h4 {
  font-size: 18px;
  line-height: 23px;
  font-family: "Roboto-bold";
}

h5 {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto-bold";
}

h6 {
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto-regular";
}

.h6-bold {
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto-bold";
}

.h7 {
  font-size: 13px;
  line-height: 19px;
  font-family: "Roboto-regular";
}

.h7-bold {
  font-size: 13px;
  line-height: 19px;
  font-family: "Roboto-bold";
}

.h8 {
  font-size: 12px;
  line-height: 15px;
  font-family: "Roboto-regular";
}

a {
  color: #222222;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto";
}

.n-color-red {
  color: #ec0001;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  margin-top: 30px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.n-btn-red {
  color: #fff;
  background-color: #ec0001;
  padding: 8px 20px 8px 20px;
}

.n-icon-hide {
  display: none;
}

.bg-grey6 {
  background-color: #dedede;
}

.bg-grey7 {
  background-color: #f5f5f5;
}

.box-icon {
  margin-left: 15px;
}

/* Styles for wrapping the search box */
.main {
  width: 50%;
  margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.box .box-img img {
  width: 100%;
}

#header .navbar {
  height: 54px;
}

#header .logo {
  width: 116px;
  height: 35px;
}

#header .logo img {
  width: 100%;
}

#first-content .left-first-content .left-first-content-child .box {
  border-right: 1px solid #dedede;
  padding-right: 10px;
}

#first-content .left-first-content .left-first-content-child .box .box-content {
  border-bottom: 1px dotted #dedede;
}

#first-content .col-md-4 {
  padding: 0;
}

#first-content .right-first-content {
  padding: 15px;
  background-color: #f5f5f5;
}

#first-content .right-first-content .box-news .box-header {
  border-bottom: 1px solid #dedede;
}

#first-content .right-first-content .box-news .box-header h4 {
  color: #ec0001;
}

#first-content .right-first-content .box-news .box-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dotted #dedede;
  margin-top: 10px;
}

#first-content .right-first-content .box-news .box-body .box-body-time h5 {
  padding: 10px;
  border-right: 1px solid #dedede;
  color: #dedede;
}

#first-content .right-first-content .box-news .box-body .box-body-content h6 {
  padding-left: 10px;
  color: #222222;
}

#first-content .right-first-content .box-news .box-bottom {
  margin-top: 10px;
}

#first-content .right-first-content .box-news .box-bottom .box-bottom-content h6 {
  margin: 0;
  line-height: 25px;
}

#first-content .right-first-content .box-news .box-bottom .box-bottom-icon i {
  font-size: 10px;
  color: #c6c6c6;
  margin: 0 5px;
  padding: 4px 6px;
  border: 1px solid #c6c6c6;
}

#first-content .box-ads {
  padding: 37.5px;
}

#first-content .box-ads img {
  width: 100%;
}

.heading-category .heading {
  margin: 20px 0;
  position: relative;
  background-color: #ec0001;
  height: 1px;
  width: 100%;
}

.heading-category .heading-content {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

#thoi-su {
  max-width: 970px;
  margin: 0 auto;
}

#thoi-su .thoi-su-main {
  margin-top: 40px;
}

#footer .top-footer {
  background-color: #dedede;
  height: 50px;
  line-height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .top-footer .top-footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .top-footer .top-footer-left .box-icon img {
  background-color: #999999;
  padding: 5px;
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 15px;
}

#footer .top-footer .top-footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .mid-footer {
  background-color: #f5f5f5;
}

#footer .mid-footer .row > div {
  border-bottom: 1px dashed #dedede;
}

#footer .mid-footer .row > div h6 {
  padding: 10px 0;
}

#footer .mid-footer .mid-footer-child {
  display: none;
}

#footer .bot-footer .bot-footer-logo {
  margin: 15px;
}

#footer .bot-footer .bot-footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .bot-footer-content {
  margin: 15px;
}

#footer .bot-footer-content > div {
  margin-bottom: 10px;
}

#footer .bot-footer-btn {
  margin: 0 15px;
  background-color: #f5f5f5;
  text-align: center;
}

#footer .bot-footer-btn a {
  color: #444444;
}

@media (min-width: 768px) {
  #header .top-header {
    max-width: 970px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .top-header .top-header-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .top-header button.btn.btn-light {
    border: 1px solid #ced4da;
    border-left: 0;
  }
  #header div#navbarN {
    border-bottom: 1px solid #dedede;
  }
  #header .active a.nav-link {
    border-bottom: 2px solid #ec0001;
  }
  #header .nav-header {
    max-width: 970px;
    margin: 0 auto;
    padding: 0;
  }
  #header .header-banner-ads {
    max-width: 970px;
    margin: 0 auto;
  }
  #first-content {
    max-width: 970px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #first-content .box-header h4 {
    padding-left: 10px;
  }
  #first-content .col-md-4 {
    padding: 15px;
  }
  #first-content .right-first-content {
    background-color: #ffffff;
    border: 1px solid #dedede;
  }
  #first-content .box-ads {
    margin-top: 20px;
    padding: 0;
  }
  #first-content .box-bao-giay {
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 20px;
  }
  #first-content .box-bao-giay .box-header {
    border-bottom: 1px solid #dedede;
  }
  #first-content .box-bao-giay .box-header h4 {
    color: #ec0001;
  }
  #first-content .box-bao-giay .box-main {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #first-content .box-bao-giay .box-main .box-main-image {
    padding-right: 10px;
  }
  #first-content .box-bao-giay .box-main .box-main-content {
    position: relative;
  }
  #first-content .box-bao-giay .box-main .box-main-content .box-btn {
    position: absolute;
    bottom: 8px;
    left: 0;
  }
  #first-content .box-top-views {
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 20px;
  }
  #first-content .box-top-views .box-header {
    border-bottom: 1px solid #dedede;
  }
  #first-content .box-top-views .box-header h4 {
    color: #ec0001;
  }
  #first-content .box-top-views .box-main .box-main-content .box-main-content-child {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px dotted #dedede;
  }
  #first-content .box-top-views .box-main .box-main-content .box-main-content-child h2 {
    color: #dedede;
    padding: 0 10px;
  }
  #first-content .box-top-views .box-main .box-main-content .box-main-content-child h6 {
    color: #222222;
  }
  #first-content .box-top-views .box-main .box-main-content .box-main-content-child:last-child {
    border-bottom: 0px;
  }
  #footer .top-footer {
    max-width: 970px;
    margin: 0 auto;
  }
  #footer .mid-footer {
    max-width: 970px;
    margin: 0 auto;
    padding: 20px 0 24px 0;
  }
  #footer .mid-footer .row > div {
    border-bottom: 0;
  }
  #footer .mid-footer .row > div h6 {
    padding-bottom: 0;
    color: red;
    font-family: "Roboto-bold";
  }
  #footer .mid-footer .mid-footer-child {
    display: block;
  }
  #footer .bot-footer {
    max-width: 970px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer .bot-footer .bot-footer-icons {
    display: none;
  }
  #footer .bot-footer .bot-footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding: 0;
  }
}
/*# sourceMappingURL=styleLayout.css.map */