@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

h1, .h1 {
  font-size: 28px;
  line-height: 34px;
  font-family: "Roboto-bold";
}

h2, .h2 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto-bold";
}

h3, .h3 {
  font-size: 20px;
  line-height: 26px;
  font-family: "Roboto-bold";
}

h4, .h4 {
  font-size: 18px;
  line-height: 23px;
  font-family: "Roboto-bold";
}

h5, .h5 {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto-bold";
}

h6, .h6 {
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto-regular";
}

.h6-bold {
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto-bold";
}

.h7 {
  font-size: 13px;
  line-height: 19px;
  font-family: "Roboto-regular";
}

.h7-bold {
  font-size: 13px;
  line-height: 19px;
  font-family: "Roboto-bold";
}

.h8 {
  font-size: 12px;
  line-height: 15px;
  font-family: "Roboto-regular";
}

a {
  color: #222222;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto";
}

.n-color-red {
  color: #ec0001;
}

.n-color-grey3 {
  color: #666666;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

section {
  margin-top: 30px;
}

a:hover {
  text-decoration: none;
  color: #444444;
}

.box-header {
  color: #ec0001;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.n-btn-red {
  color: #fff;
  background-color: #ec0001;
  padding: 8px 20px 8px 20px;
  border-radius: 2px;
}

.n-color-red {
  color: #ec0001;
}

.n-btn-light {
  color: #666666;
  background-color: #f5f5f5;
  padding: 8px 20px 8px 20px;
  border-radius: 2px;
}

.heading-category {
  text-transform: uppercase;
}

.heading-category .heading {
  margin: 52px 0 39px 0;
  position: relative;
  background-color: #ec0001;
  height: 1px;
  width: 100%;
}

.heading-category .heading-content {
  padding: 8px 36px;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.heading-category .heading-content .heading-content-name {
  font-size: 18px;
}

.heading-category h2 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  white-space: nowrap;
}

.heading-category-2 {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.heading-category-2 .heeding-line {
  background-color: #ffffff;
  height: 1px;
  width: 100px;
}

.heading-category-2 .heading-content {
  margin: 0 20px;
}

.heading-category-2 .heading-content h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  white-space: nowrap;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.heading-category-2 .heading-content span {
  margin-left: 5px;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 3px;
}

.n-icon-hide {
  display: none;
}

.bg-grey6 {
  background-color: #dedede;
}

.bg-grey7 {
  background-color: #f5f5f5;
}

.box-icon {
  margin-left: 15px;
}

/* Styles for wrapping the search box */
.main {
  width: 50%;
  margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.box {
  margin-top: 10px;
}

.box .box-title {
  padding-top: 16px;
}

.box .box-img img {
  width: 100%;
}

.box .box-content {
  padding-top: 12px;
}

.box .box-link {
  padding-top: 8px;
}

.box .box-link div {
  padding-top: 8px;
}

#header .navbar {
  height: 54px;
  padding: 0;
}

#header .logo {
  width: 116px;
  height: 35px;
}

#header .logo img {
  width: 100%;
}

#header .btn-icon-header img {
  width: auto;
}

#first-content .left-first-content,
#first-content-thoi-su .left-first-content,
#first-content-detail .left-first-content {
  /* Handle */
}

#first-content .left-first-content .left-first-content-main,
#first-content .left-first-content .box,
#first-content-thoi-su .left-first-content .left-first-content-main,
#first-content-thoi-su .left-first-content .box,
#first-content-detail .left-first-content .left-first-content-main,
#first-content-detail .left-first-content .box {
  margin-top: 0;
}

#first-content .left-first-content .left-first-content-child,
#first-content-thoi-su .left-first-content .left-first-content-child,
#first-content-detail .left-first-content .left-first-content-child {
  overflow: auto;
  height: 478px;
  border-right: 1px solid #dedede;
}

#first-content .left-first-content .left-first-content-child .box,
#first-content-thoi-su .left-first-content .left-first-content-child .box,
#first-content-detail .left-first-content .left-first-content-child .box {
  margin-top: 0;
  padding-right: 10px;
}

#first-content .left-first-content .left-first-content-child .box .box-title:first-child,
#first-content-thoi-su .left-first-content .left-first-content-child .box .box-title:first-child,
#first-content-detail .left-first-content .left-first-content-child .box .box-title:first-child {
  padding-top: 0;
}

#first-content .left-first-content .left-first-content-child .box .box-content,
#first-content-thoi-su .left-first-content .left-first-content-child .box .box-content,
#first-content-detail .left-first-content .left-first-content-child .box .box-content {
  padding-top: 6px;
  padding-bottom: 12px;
  border-bottom: 1px dotted #dedede;
}

#first-content .left-first-content .left-first-content-child .box:last-child .box-content,
#first-content-thoi-su .left-first-content .left-first-content-child .box:last-child .box-content,
#first-content-detail .left-first-content .left-first-content-child .box:last-child .box-content {
  border-bottom: 0;
}

#first-content .left-first-content .left-first-content-child .box:not(:first-child),
#first-content-thoi-su .left-first-content .left-first-content-child .box:not(:first-child),
#first-content-detail .left-first-content .left-first-content-child .box:not(:first-child) {
  margin-top: 16px;
}

#first-content .left-first-content ::-webkit-scrollbar,
#first-content-thoi-su .left-first-content ::-webkit-scrollbar,
#first-content-detail .left-first-content ::-webkit-scrollbar {
  width: 1px;
  left: 1px;
}

#first-content .left-first-content ::-webkit-scrollbar-thumb,
#first-content-thoi-su .left-first-content ::-webkit-scrollbar-thumb,
#first-content-detail .left-first-content ::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 0;
}

#first-content .left-first-content .left-first-content-child-row-2,
#first-content-thoi-su .left-first-content .left-first-content-child-row-2,
#first-content-detail .left-first-content .left-first-content-child-row-2 {
  margin-top: 12px;
}

#first-content .left-first-content .left-first-content-child-row-2 .box,
#first-content-thoi-su .left-first-content .left-first-content-child-row-2 .box,
#first-content-detail .left-first-content .left-first-content-child-row-2 .box {
  margin-top: 20px;
}

#first-content .left-first-content .left-first-content-child-row-2 .box .box-title,
#first-content-thoi-su .left-first-content .left-first-content-child-row-2 .box .box-title,
#first-content-detail .left-first-content .left-first-content-child-row-2 .box .box-title {
  padding-top: 10px;
}

#first-content .left-first-content .left-first-content-child-row-2 .box .box-content,
#first-content-thoi-su .left-first-content .left-first-content-child-row-2 .box .box-content,
#first-content-detail .left-first-content .left-first-content-child-row-2 .box .box-content {
  padding-top: 10px;
}

#first-content .col-md-4,
#first-content-thoi-su .col-md-4,
#first-content-detail .col-md-4 {
  padding: 0;
}

#first-content .right-first-content,
#first-content-thoi-su .right-first-content,
#first-content-detail .right-first-content {
  background-color: #f5f5f5;
}

#first-content .right-first-content .box-news,
#first-content-thoi-su .right-first-content .box-news,
#first-content-detail .right-first-content .box-news {
  padding: 0 16px 16px 16px;
}

#first-content .right-first-content .box-news .box-header,
#first-content-thoi-su .right-first-content .box-news .box-header,
#first-content-detail .right-first-content .box-news .box-header {
  border-bottom: 1px solid #dedede;
}

#first-content .right-first-content .box-news .box-header h4,
#first-content-thoi-su .right-first-content .box-news .box-header h4,
#first-content-detail .right-first-content .box-news .box-header h4 {
  color: #ec0001;
}

#first-content .right-first-content .box-news .box-body,
#first-content-thoi-su .right-first-content .box-news .box-body,
#first-content-detail .right-first-content .box-news .box-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dotted #dedede;
}

#first-content .right-first-content .box-news .box-body .box-body-time .h5,
#first-content-thoi-su .right-first-content .box-news .box-body .box-body-time .h5,
#first-content-detail .right-first-content .box-news .box-body .box-body-time .h5 {
  padding: 10px;
  border-right: 1px solid #dedede;
  color: #c6c6c6;
}

#first-content .right-first-content .box-news .box-body .box-body-content .h6,
#first-content-thoi-su .right-first-content .box-news .box-body .box-body-content .h6,
#first-content-detail .right-first-content .box-news .box-body .box-body-content .h6 {
  padding-left: 10px;
  color: #222222;
}

#first-content .right-first-content .box-news .box-bottom,
#first-content-thoi-su .right-first-content .box-news .box-bottom,
#first-content-detail .right-first-content .box-news .box-bottom {
  margin-top: 10px;
}

#first-content .right-first-content .box-news .box-bottom .box-bottom-content .h6,
#first-content-thoi-su .right-first-content .box-news .box-bottom .box-bottom-content .h6,
#first-content-detail .right-first-content .box-news .box-bottom .box-bottom-content .h6 {
  margin: 0;
  line-height: 25px;
}

#first-content .right-first-content .box-news .box-bottom .box-bottom-icon i,
#first-content-thoi-su .right-first-content .box-news .box-bottom .box-bottom-icon i,
#first-content-detail .right-first-content .box-news .box-bottom .box-bottom-icon i {
  font-size: 10px;
  color: #c6c6c6;
  margin: 0 5px;
  padding: 4px 6px;
  border: 1px solid #c6c6c6;
}

#first-content .box-ads,
#first-content-thoi-su .box-ads,
#first-content-detail .box-ads {
  padding: 37.5px;
}

#first-content .box-ads img,
#first-content-thoi-su .box-ads img,
#first-content-detail .box-ads img {
  width: 100%;
}

#finance .finance-main .content-main,
#video .finance-main .content-main,
#world .finance-main .content-main,
#enterprise .finance-main .content-main {
  border-bottom: 1px dotted #dedede;
}

#finance .finance-main .finance-main-top .box-news-child,
#video .finance-main .finance-main-top .box-news-child,
#world .finance-main .finance-main-top .box-news-child,
#enterprise .finance-main .finance-main-top .box-news-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 20px 0;
  border-bottom: 1px dashed #dedede;
}

#finance .finance-main .finance-main-top .box-news-child .box-news-child-image,
#video .finance-main .finance-main-top .box-news-child .box-news-child-image,
#world .finance-main .finance-main-top .box-news-child .box-news-child-image,
#enterprise .finance-main .finance-main-top .box-news-child .box-news-child-image {
  width: 50%;
}

#finance .finance-main .finance-main-top .box-news-child .box-news-child-content,
#video .finance-main .finance-main-top .box-news-child .box-news-child-content,
#world .finance-main .finance-main-top .box-news-child .box-news-child-content,
#enterprise .finance-main .finance-main-top .box-news-child .box-news-child-content {
  width: 50%;
  padding-left: 10px;
}

#finance .finance-main .finance-main-top .box-news-child .content-main .box-content,
#video .finance-main .finance-main-top .box-news-child .content-main .box-content,
#world .finance-main .finance-main-top .box-news-child .content-main .box-content,
#enterprise .finance-main .finance-main-top .box-news-child .content-main .box-content {
  margin-top: 10px;
}

#finance .finance-main .finance-main-top .box-news-child:last-child,
#video .finance-main .finance-main-top .box-news-child:last-child,
#world .finance-main .finance-main-top .box-news-child:last-child,
#enterprise .finance-main .finance-main-top .box-news-child:last-child {
  border-bottom: 0;
}

#finance .finance-main .finance-main-bottom,
#video .finance-main .finance-main-bottom,
#world .finance-main .finance-main-bottom,
#enterprise .finance-main .finance-main-bottom {
  padding-left: 15px;
}

#finance .finance-main .finance-main-bottom .box-header,
#video .finance-main .finance-main-bottom .box-header,
#world .finance-main .finance-main-bottom .box-header,
#enterprise .finance-main .finance-main-bottom .box-header {
  color: #ec0001;
}

#finance .finance-main .finance-main-bottom .finance-main-top .box-news-child,
#video .finance-main .finance-main-bottom .finance-main-top .box-news-child,
#world .finance-main .finance-main-bottom .finance-main-top .box-news-child,
#enterprise .finance-main .finance-main-bottom .finance-main-top .box-news-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 20px 0;
  border-bottom: 1px dotted #dedede;
}

#finance .finance-main .finance-main-bottom .finance-main-top .box-news-child .box-news-child-image,
#video .finance-main .finance-main-bottom .finance-main-top .box-news-child .box-news-child-image,
#world .finance-main .finance-main-bottom .finance-main-top .box-news-child .box-news-child-image,
#enterprise .finance-main .finance-main-bottom .finance-main-top .box-news-child .box-news-child-image {
  width: 50%;
}

#finance .finance-main .finance-main-bottom .finance-main-top .box-news-child .box-news-child-content,
#video .finance-main .finance-main-bottom .finance-main-top .box-news-child .box-news-child-content,
#world .finance-main .finance-main-bottom .finance-main-top .box-news-child .box-news-child-content,
#enterprise .finance-main .finance-main-bottom .finance-main-top .box-news-child .box-news-child-content {
  width: 50%;
  padding-left: 10px;
}

#finance .finance-main .box-ads,
#video .finance-main .box-ads,
#world .finance-main .box-ads,
#enterprise .finance-main .box-ads {
  padding-right: 16px;
  margin: 40px 0 20px 0;
}

#stock .stock-main .bg-grey7 {
  margin-bottom: 10px;
}

#stock .stock-main .box-header {
  margin-top: 20px;
}

#stock .stock-main .box-stock {
  border-bottom: 1px dashed #dedede;
  padding: 10px 0;
}

#stock .stock-main .box-stock .box-stock-child {
  padding-bottom: 15px;
  border-bottom: 1px dashed #dedede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#stock .stock-main .box-stock .box-stock-child .box-stock-child-image {
  width: 30%;
}

#stock .stock-main .box-stock .box-stock-child .box-stock-child-content {
  width: 70%;
  padding-left: 10px;
}

#stock .stock-main .box-stock:last-child {
  border-bottom: 0;
}

#stock .stock-main .form-vat {
  border: 1px solid #dedede;
  padding: 16px 0px 20px 21px;
  margin-top: 28px;
}

#stock .stock-main .form-vat .box-checkbox div {
  padding-top: 10px;
}

#stock .stock-main .form-vat .box-btn {
  padding-top: 24px;
}

#stock .stock-main .col-md-8 {
  background-color: #f5f5f5;
}

#real-estate .real-estate-main .content-main,
#vietnam .real-estate-main .content-main {
  border-bottom: 1px dotted #dedede;
}

#real-estate .real-estate-main .real-estate-main-top .box-news-child,
#vietnam .real-estate-main .real-estate-main-top .box-news-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 20px 0;
  border-bottom: 1px dotted #dedede;
}

#real-estate .real-estate-main .real-estate-main-top .box-news-child .box-news-child-image,
#vietnam .real-estate-main .real-estate-main-top .box-news-child .box-news-child-image {
  width: 50%;
}

#real-estate .real-estate-main .real-estate-main-top .box-news-child .box-news-child-content,
#vietnam .real-estate-main .real-estate-main-top .box-news-child .box-news-child-content {
  width: 50%;
  padding-left: 10px;
}

#real-estate .real-estate-main .real-estate-main-bottom,
#vietnam .real-estate-main .real-estate-main-bottom {
  padding-left: 15px;
}

#real-estate .real-estate-main .real-estate-main-bottom .box-header,
#vietnam .real-estate-main .real-estate-main-bottom .box-header {
  color: #ec0001;
}

#real-estate .real-estate-main .real-estate-main-bottom .real-estate-main-top .box-news-child,
#vietnam .real-estate-main .real-estate-main-bottom .real-estate-main-top .box-news-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 10px 0;
  border-bottom: 1px dotted #dedede;
}

#real-estate .real-estate-main .real-estate-main-bottom .real-estate-main-top .box-news-child .box-news-child-image,
#vietnam .real-estate-main .real-estate-main-bottom .real-estate-main-top .box-news-child .box-news-child-image {
  width: 50%;
}

#real-estate .real-estate-main .real-estate-main-bottom .real-estate-main-top .box-news-child .box-news-child-content,
#vietnam .real-estate-main .real-estate-main-bottom .real-estate-main-top .box-news-child .box-news-child-content {
  width: 50%;
  padding-left: 10px;
}

#real-estate .real-estate-main .box-ads,
#vietnam .real-estate-main .box-ads {
  padding-right: 15px;
  margin: 40px 0 20px 0;
}

#real-estate .real-estate-main .box-image.d-md-none,
#vietnam .real-estate-main .box-image.d-md-none {
  padding: 20px;
}

#image {
  background: #444444;
  color: #ffffff;
}

#image a {
  color: #ffffff !important;
}

#image .image-main .content-main {
  border-bottom: 1px dotted #dedede;
}

#image .image-main .image-main-top .box-news-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 10px 0;
  border-bottom: 1px dotted #dedede;
}

#image .image-main .image-main-top .box-news-child .box-news-child-image {
  width: 50%;
}

#image .image-main .image-main-top .box-news-child .box-news-child-content {
  width: 50%;
  padding-left: 10px;
}

#image .image-main .image-main-bottom {
  padding-left: 15px;
}

#image .image-main .image-main-bottom .box-header {
  color: #ec0001;
}

#image .image-main .image-main-bottom .image-main-top .box-news-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 10px 0;
  border-bottom: 1px dotted #dedede;
}

#image .image-main .image-main-bottom .image-main-top .box-news-child .box-news-child-image {
  width: 50%;
}

#image .image-main .image-main-bottom .image-main-top .box-news-child .box-news-child-content {
  width: 50%;
  padding-left: 10px;
}

#image .image-main .box-ads {
  padding-right: 15px;
  margin: 40px 0 20px 0;
}

#image .image-main .box-image.d-md-none {
  padding: 20px;
}

#cooperative .box,
#startup .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dashed #dedede;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-bottom: 10px;
}

#cooperative .box .box-image,
#startup .box .box-image {
  width: 50%;
}

#cooperative .box .box-title,
#startup .box .box-title {
  padding-top: 10px;
  padding-left: 10px;
  width: 50%;
}

#cooperative .col-md-3:last-child .box,
#startup .col-md-3:last-child .box {
  border: 0;
}

#business {
  padding: 0 32px 25px 36px;
  background-color: #444444;
  color: #fff;
}

#business .slick-prev {
  width: 15px;
  height: 24px;
  left: -23px;
  z-index: 9;
}

#business .slick-next {
  width: 15px;
  height: 24px;
  right: -18px;
}

#business .slick-list.draggable {
  margin: 0 15px;
}

#business .slick-dots li.slick-active button:before {
  color: #ec0001;
  border: 0;
}

#business .slick-dots li button:before {
  color: #444444;
  border: 1px solid #fff;
}

#footer .top-footer {
  background-color: #dedede;
  height: 50px;
  line-height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .top-footer .top-footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .top-footer .top-footer-left .box-icon img {
  background-color: #999999;
  padding: 5px;
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 15px;
}

#footer .top-footer .top-footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .top-footer .top-footer-right a, #footer .top-footer .top-footer-right span {
  color: #666666;
}

#footer .mid-footer {
  background-color: #f5f5f5;
}

#footer .mid-footer .row > div {
  border-bottom: 1px dashed #dedede;
}

#footer .mid-footer .row > div .h6 {
  padding: 10px 0;
}

#footer .mid-footer .mid-footer-child {
  display: none;
}

#footer .bot-footer .bot-footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .bot-footer-content > div {
  margin-bottom: 10px;
}

#footer .bot-footer-btn {
  margin: 0 15px;
  background-color: #f5f5f5;
  text-align: center;
}

#footer .bot-footer-btn a {
  color: #444444;
}

@media (min-width: 768px) {
  #header {
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.22);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #header .top-header {
    max-width: 970px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .top-header .top-header-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .top-header button.btn.btn-light {
    border: 1px solid #ced4da;
    border-left: 0;
  }
  #header div#navbarN {
    border-bottom: 1px solid #dedede;
  }
  #header .active a.nav-link {
    color: #ec0001;
    border-bottom: 2px solid #ec0001;
  }
  #header .nav-header {
    max-width: 970px;
    margin: 0 auto;
    padding: 0;
  }
  #header .header-banner-ads {
    max-width: 970px;
    margin: 0 auto;
  }
  #first-content,
  #first-content-thoi-su,
  #first-content-detail {
    max-width: 970px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #first-content .box-header h4,
  #first-content-thoi-su .box-header h4,
  #first-content-detail .box-header h4 {
    padding-left: 10px;
  }
  #first-content .col-md-4,
  #first-content-thoi-su .col-md-4,
  #first-content-detail .col-md-4 {
    padding: 10px;
  }
  #first-content .right-first-content,
  #first-content-thoi-su .right-first-content,
  #first-content-detail .right-first-content {
    background-color: #ffffff;
    border: 1px solid #dedede;
  }
  #first-content .right-first-content .box-header,
  #first-content-thoi-su .right-first-content .box-header,
  #first-content-detail .right-first-content .box-header {
    border-bottom: 1px solid #dedede;
    padding: 16px 12px;
  }
  #first-content .right-first-content .box-body,
  #first-content-thoi-su .right-first-content .box-body,
  #first-content-detail .right-first-content .box-body {
    padding: 12px 0;
  }
  #first-content .box-ads,
  #first-content-thoi-su .box-ads,
  #first-content-detail .box-ads {
    margin-top: 24px;
    padding: 0;
  }
  #first-content .box-bao-giay,
  #first-content-thoi-su .box-bao-giay,
  #first-content-detail .box-bao-giay {
    border: 1px solid #dedede;
    margin-top: 24px;
  }
  #first-content .box-bao-giay .box-header,
  #first-content-thoi-su .box-bao-giay .box-header,
  #first-content-detail .box-bao-giay .box-header {
    padding: 12px 20px;
    border-bottom: 1px solid #dedede;
  }
  #first-content .box-bao-giay .box-header .h4,
  #first-content-thoi-su .box-bao-giay .box-header .h4,
  #first-content-detail .box-bao-giay .box-header .h4 {
    padding-right: 20px;
  }
  #first-content .box-bao-giay .box-main,
  #first-content-thoi-su .box-bao-giay .box-main,
  #first-content-detail .box-bao-giay .box-main {
    margin: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #first-content .box-bao-giay .box-main .box-main-image,
  #first-content-thoi-su .box-bao-giay .box-main .box-main-image,
  #first-content-detail .box-bao-giay .box-main .box-main-image {
    padding-right: 16px;
  }
  #first-content .box-bao-giay .box-main .box-main-content,
  #first-content-thoi-su .box-bao-giay .box-main .box-main-content,
  #first-content-detail .box-bao-giay .box-main .box-main-content {
    position: relative;
  }
  #first-content .box-bao-giay .box-main .box-main-content .box-btn,
  #first-content-thoi-su .box-bao-giay .box-main .box-main-content .box-btn,
  #first-content-detail .box-bao-giay .box-main .box-main-content .box-btn {
    position: absolute;
    bottom: 8px;
    left: 0;
  }
  #first-content .box-top-views,
  #first-content-thoi-su .box-top-views,
  #first-content-detail .box-top-views {
    border: 1px solid #dedede;
    margin-top: 20px;
  }
  #first-content .box-top-views .box-header,
  #first-content-thoi-su .box-top-views .box-header,
  #first-content-detail .box-top-views .box-header {
    padding: 12px 20px;
    border-bottom: 1px solid #dedede;
  }
  #first-content .box-top-views .box-main .box-main-content .box-main-content-child,
  #first-content-thoi-su .box-top-views .box-main .box-main-content .box-main-content-child,
  #first-content-detail .box-top-views .box-main .box-main-content .box-main-content-child {
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px dotted #dedede;
  }
  #first-content .box-top-views .box-main .box-main-content .box-main-content-child .h2,
  #first-content-thoi-su .box-top-views .box-main .box-main-content .box-main-content-child .h2,
  #first-content-detail .box-top-views .box-main .box-main-content .box-main-content-child .h2 {
    color: #dedede;
    margin-right: 10px;
  }
  #first-content .box-top-views .box-main .box-main-content .box-main-content-child .h6,
  #first-content-thoi-su .box-top-views .box-main .box-main-content .box-main-content-child .h6,
  #first-content-detail .box-top-views .box-main .box-main-content .box-main-content-child .h6 {
    color: #222222;
  }
  #first-content .box-top-views .box-main .box-main-content .box-main-content-child:last-child,
  #first-content-thoi-su .box-top-views .box-main .box-main-content .box-main-content-child:last-child,
  #first-content-detail .box-top-views .box-main .box-main-content .box-main-content-child:last-child {
    border-bottom: 0px;
  }
  #thoi-su,
  #hi-tech,
  #other-news,
  #live {
    max-width: 970px;
    margin: 0 auto;
  }
  #thoi-su .thoi-su-main .box,
  #hi-tech .thoi-su-main .box,
  #other-news .thoi-su-main .box,
  #live .thoi-su-main .box {
    margin-top: 0;
  }
  #thoi-su .thoi-su-main .box .box-title,
  #hi-tech .thoi-su-main .box .box-title,
  #other-news .thoi-su-main .box .box-title,
  #live .thoi-su-main .box .box-title {
    padding-top: 10px;
  }
  #thoi-su .thoi-su-main .box .box-content,
  #hi-tech .thoi-su-main .box .box-content,
  #other-news .thoi-su-main .box .box-content,
  #live .thoi-su-main .box .box-content {
    padding-top: 10px;
  }
  #finance,
  #video,
  #world,
  #enterprise {
    max-width: 970px;
    margin: 0 auto;
  }
  #finance .heading-category,
  #video .heading-category,
  #world .heading-category,
  #enterprise .heading-category {
    padding: 32px 0 20px 0;
  }
  #finance .finance-main .content-main,
  #video .finance-main .content-main,
  #world .finance-main .content-main,
  #enterprise .finance-main .content-main {
    border: 0;
  }
  #finance .finance-main .content-main .box-title h3,
  #video .finance-main .content-main .box-title h3,
  #world .finance-main .content-main .box-title h3,
  #enterprise .finance-main .content-main .box-title h3 {
    font-size: 24px;
    line-height: 30px;
    font-family: "Roboto-bold";
  }
  #finance .finance-main .finance-main-top,
  #video .finance-main .finance-main-top,
  #world .finance-main .finance-main-top,
  #enterprise .finance-main .finance-main-top {
    padding-bottom: 28px;
    border-bottom: 1px solid #dedede;
  }
  #finance .finance-main .finance-main-top .box-news-child:first-child,
  #video .finance-main .finance-main-top .box-news-child:first-child,
  #world .finance-main .finance-main-top .box-news-child:first-child,
  #enterprise .finance-main .finance-main-top .box-news-child:first-child {
    padding-top: 0px;
  }
  #finance .finance-main .finance-main-bottom,
  #video .finance-main .finance-main-bottom,
  #world .finance-main .finance-main-bottom,
  #enterprise .finance-main .finance-main-bottom {
    padding-left: 0;
    padding-bottom: 27px;
  }
  #finance .finance-main .finance-main-bottom .box-header,
  #video .finance-main .finance-main-bottom .box-header,
  #world .finance-main .finance-main-bottom .box-header,
  #enterprise .finance-main .finance-main-bottom .box-header {
    padding: 16px 0;
  }
  #finance .finance-main .finance-main-bottom .box-news-child,
  #video .finance-main .finance-main-bottom .box-news-child,
  #world .finance-main .finance-main-bottom .box-news-child,
  #enterprise .finance-main .finance-main-bottom .box-news-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #finance .finance-main .finance-main-bottom .box-news-child .box-news-child-image,
  #video .finance-main .finance-main-bottom .box-news-child .box-news-child-image,
  #world .finance-main .finance-main-bottom .box-news-child .box-news-child-image,
  #enterprise .finance-main .finance-main-bottom .box-news-child .box-news-child-image {
    width: 45%;
  }
  #finance .finance-main .finance-main-bottom .box-news-child .box-news-child-content,
  #video .finance-main .finance-main-bottom .box-news-child .box-news-child-content,
  #world .finance-main .finance-main-bottom .box-news-child .box-news-child-content,
  #enterprise .finance-main .finance-main-bottom .box-news-child .box-news-child-content {
    width: 55%;
    padding-left: 14px;
  }
  #stock {
    max-width: 970px;
    margin: 0 auto;
  }
  #stock .stock-main .box {
    margin-top: 0;
  }
  #stock .stock-main .box .box-title {
    padding-top: 10px;
  }
  #stock .stock-main .box .box-content {
    padding-top: 10px;
  }
  #stock .stock-main .box-header {
    margin-top: 28px;
    padding-top: 16px;
    padding-left: 20px;
  }
  #stock .stock-main .col-md-8 {
    background-color: #ffffff;
  }
  #stock .stock-main .box-stock {
    border-bottom: 1px dotted #dedede;
    margin-right: 15px;
    padding: 12px 0 10px 20px;
    border-left: 1px dotted #dedede;
  }
  #stock .stock-main .box-stock .box-stock-child {
    border-bottom: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #stock .stock-main .box-stock .box-stock-child .box-stock-child-image {
    width: 34%;
  }
  #stock .stock-main .box-stock .box-stock-child .box-stock-child-content {
    width: 66%;
    padding-left: 12px;
  }
  #stock .stock-main .box-stock .box-stock-child .box-stock-child-content .box-content {
    padding-top: 8px;
  }
  #stock .stock-main .box-stock .box-stock-child .box-stock-child-content .box-author {
    padding-top: 11px;
  }
  #stock .stock-main .box-stock .box-author {
    padding-top: 4px;
  }
  #stock .stock-main .col-md-6:first-child .box-stock {
    border-left: 0;
  }
  #stock .stock-main .box-stock:last-child {
    margin-bottom: 10px;
    border-bottom: 0;
  }
  #stock .stock-main .form-vat {
    border: 1px solid #dedede;
    padding: 16px 0px 20px 21px;
    margin-top: 28px;
  }
  #stock .stock-main .form-vat .box-checkbox div {
    padding-top: 10px;
  }
  #stock .stock-main .form-vat .box-btn {
    padding-top: 24px;
  }
  #real-estate,
  #vietnam {
    max-width: 970px;
    margin: 0 auto;
  }
  #real-estate .real-estate-main .content-main,
  #vietnam .real-estate-main .content-main {
    border: 0;
  }
  #real-estate .real-estate-main .finance-main-top,
  #vietnam .real-estate-main .finance-main-top {
    border-bottom: 1px solid #dedede;
  }
  #real-estate .real-estate-main .finance-main-bottom,
  #vietnam .real-estate-main .finance-main-bottom {
    padding-left: 0;
  }
  #image {
    max-width: 970px;
    margin: 0 auto;
  }
  #image .image-main {
    padding: 0 20px;
  }
  #image .image-main .content-main {
    padding-bottom: 37px;
    border: 0;
  }
  #image .image-main .image-main-top .box-news-child {
    padding: 20px 0 20px 0;
  }
  #image .image-main .image-main-top .box-news-child:first-child {
    padding-top: 0;
  }
  #cooperative,
  #startup {
    max-width: 970px;
    margin: 0 auto;
  }
  #cooperative .box,
  #startup .box {
    display: inherit;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #cooperative .box .box-image,
  #startup .box .box-image {
    width: auto;
  }
  #cooperative .box .box-title,
  #startup .box .box-title {
    padding-left: 0;
    width: auto;
  }
  #cooperative .col-md-6 .box-title .h5,
  #startup .col-md-6 .box-title .h5 {
    font-size: 20px;
    line-height: 26px;
    font-family: "Roboto-bold";
  }
  #cooperative .col-md-3:last-child .box,
  #startup .col-md-3:last-child .box {
    border: 0;
  }
  #business {
    max-width: 970px;
    margin: 0 auto;
  }
  #business .heading-category-2 {
    margin-top: 32px;
  }
  #footer .top-footer {
    max-width: 970px;
    margin: 0 auto;
  }
  #footer .top-footer .top-footer-left .box-icon {
    margin-left: 0;
  }
  #footer .top-footer .top-footer-left .box-icon img {
    width: auto;
    margin-left: 0;
  }
  #footer .mid-footer {
    max-width: 970px;
    margin: 0 auto;
    padding-bottom: 24px;
  }
  #footer .mid-footer .row > div {
    border-bottom: 0;
  }
  #footer .mid-footer .row > div .h6 {
    padding-top: 20px;
  }
  #footer .mid-footer .row > div .h6 a {
    padding-bottom: 0;
    color: red;
    font-family: "Roboto-bold";
  }
  #footer .mid-footer .mid-footer-child {
    display: block;
  }
  #footer .bot-footer {
    max-width: 970px;
    margin: 0 auto;
    padding: 22px 0 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer .bot-footer .bot-footer-icons {
    display: none;
  }
  #footer .bot-footer .bot-footer-logo {
    margin-right: 60px;
  }
  #footer .bot-footer .bot-footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .container-fluid {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  #header .navbar-toggler {
    padding: 21px 16px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
  }
  #header .logo {
    padding-top: 9px;
  }
  #first-content .left-first-content .left-first-content-child-row-2 {
    margin-top: 0px;
  }
  .stock-main .box {
    margin-top: 0;
  }
  .stock-main .box .box-title {
    padding-top: 10px;
  }
  .stock-main .box .box-content {
    padding-top: 10px;
  }
  .stock-main .box-header {
    margin-top: 28px;
  }
  .stock-main .col-md-8 {
    background-color: #ffffff;
  }
  .stock-main .box-stock {
    border-bottom: 1px dotted #dedede;
    margin-right: 15px;
    padding: 12px 0 10px 20px;
  }
  .stock-main .box-stock .box-stock-child {
    padding-bottom: 0px !important;
    border-bottom: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .stock-main .box-stock .box-stock-child .box-stock-child-image {
    width: 34%;
  }
  .stock-main .box-stock .box-stock-child .box-stock-child-content {
    width: 66%;
    padding-left: 12px;
  }
  .stock-main .box-stock .box-stock-child .box-stock-child-content .box-content {
    padding-top: 8px;
  }
  .stock-main .box-stock .box-stock-child .box-stock-child-content .box-author {
    padding-top: 11px;
  }
  .stock-main .box-stock .box-author {
    padding-top: 4px;
  }
  .stock-main .col-md-6:first-child .box-stock {
    border-left: 0;
  }
  .stock-main .box-stock:last-child {
    border-bottom: 0;
  }
  .stock-main .form-vat {
    border: 1px solid #dedede;
    padding: 16px 0px 20px 21px;
    margin-top: 28px;
  }
  .stock-main .form-vat .box-checkbox div {
    padding-top: 10px;
  }
  .stock-main .form-vat .box-btn {
    padding-top: 24px;
  }
  #footer {
    margin-top: 36px;
  }
}
/*# sourceMappingURL=styleLayout.css.map */