@import "variable";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

section {
    // margin-top: 30px;
}
a:hover {
    text-decoration: none;
    color: $grey2;
}
.box-header {
    color: $red;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}


.n-btn-red {
    color: #fff;
    background-color: $red;
    padding: 8px 20px 8px 20px;
    border-radius: 2px;
}

.n-color-red {
    color: $red;
}

.n-btn-light {
    color: $grey3;
    background-color: $grey7;
    padding: 8px 20px 8px 20px;
    border-radius: 2px;
}
.text-header-primary {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
.heading-category {
    text-transform: uppercase;

    .heading {
        margin: 52px 0 39px 0;
        position: relative;
        background-color: $red;
        height: 1px;
        width: 100%;
    }

    .heading-content {
        padding: 8px 36px;
        
        .heading-content-name {
            font-size: 18px;
        }
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }
    h2 {
        font-size: 18px;
        line-height: 23px;
        font-weight: 700;
        white-space: nowrap;
    }
}

.heading-category-2 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding-top: 20px;
    align-items: center;
    color: $white;

    .heeding-line {
        background-color: $white;
        height: 1px;
        width: 100px;
    }

    .heading-content {
        margin: 0 20px;
        h2 {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            white-space: nowrap;
            font-size: 18px;
            line-height: 23px;
            font-weight: 700;
        }
        span {
            margin-left: 5px;
            font-size: 12px;
            line-height: 15px;
            border: 1px solid #fff;
            border-radius: 100%;
            padding: 3px;
        }
    }
}

.n-icon-hide {
    display: none;
}

.bg-grey6 {
    background-color: $grey6;
}

.bg-grey7 {
    background-color: $grey7;
}

.box-icon {
    margin-left: 15px;
}

/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.box {
    margin-top: 10px;
    .box-title {
        padding-top: 16px;
    }
    .box-img {
        img {
            width: 100%;
        }
    }
    .box-content {
        padding-top: 12px;
    }
    .box-link {
        padding-top: 8px;
        div {
            padding-top: 8px;
        }
    }
}

#header {
   
    .navbar {
        height: 54px;
        padding: 0;
    }

    .logo {
        width: 116px;
        height: 35px;

        img {
            width: 100%;
        }
    }

    .btn-icon-header {
        img {
            width: auto;
        }
    }
}

#first-content,
#first-content-thoi-su,
#first-content-detail {
    .left-first-content {
        .left-first-content-main,
        .box {
            margin-top: 0;
            
        }
        .left-first-content-child {
            overflow: auto;
            height: 478px;
            border-right: 1px solid $grey6;
            .box {
                margin-top: 0;
                padding-right: 10px;
                .box-title:first-child {
                    padding-top: 0;
                }
                .box-content {
                    padding-top: 6px;
                    padding-bottom: 12px;
                    border-bottom: 1px dotted $grey6;
                    
                }
            }
            .box:last-child {
                .box-content {
                    border-bottom: 0;
                }
            }
            .box:not(:first-child) {
                margin-top: 16px;
            }
        }
        ::-webkit-scrollbar {
            width: 1px;
            left: 1px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $grey4;
            border-radius: 0;
        }
        .left-first-content-child-row-2 {
            margin-top: 12px;
            .box {
                margin-top: 20px;
                .box-title {
                    padding-top: 10px;
                }
                .box-content {
                    padding-top: 10px;
                    
                        display: none;
                        @media (min-width:768px) {
                            display: block;
                        }
                    
                }
            }
        }
    }

    .col-md-4 {
        padding: 0;
    }

    .right-first-content {
        background-color: $grey7;

        .box-news {
            padding: 0 16px 16px 16px;
            .box-header {
                // padding: 12px 0 0 16px;
                border-bottom: 1px solid $grey6;
                h4 {
                    color: $red;
                }
            }

            .box-body {
                display: flex;
                border-bottom: 1px dotted $grey6;

                .box-body-time {
                    .h5 {
                        padding: 10px;
                        border-right: 1px solid $grey6;
                        color: $grey5;
                    }
                }

                .box-body-content {
                    .h6 {
                        padding-left: 10px;
                        color: $grey1;
                    }
                }
            }

            .box-bottom {
                margin-top: 10px;

                .box-bottom-content {
                    .h6 {
                        margin: 0;
                        line-height: 25px;
                    }
                }

                .box-bottom-icon {
                    i {
                        font-size: 10px;
                        color: $grey5;
                        margin: 0 5px;
                        padding: 4px 6px;
                        border: 1px solid $grey5;
                    }
                }
            }
        }
    }

    .box-ads {
        padding: 37.5px;

        img {
            width: 100%;
        }
    }
}

#finance,
#video,
#world,
#enterprise {
    .finance-main {
        .content-main {
            border-bottom: 1px dotted $grey6;
        }

        .finance-main-top {
            .box-news-child {
                display: flex;
                padding: 20px 0 20px 0;
                border-bottom: 1px dashed $grey6;

                .box-news-child-image {
                    width: 50%;
                }

                .box-news-child-content {
                    width: 50%;
                    padding-left: 10px;
                }
                .content-main {
                    .box-content {
                        margin-top: 10px;
                    }
                }
            }

            .box-news-child:last-child {
                border-bottom: 0;
            }
        }

        .finance-main-bottom {
            padding-left: 15px;

            .box-header {
                color: $red;
            }

            .finance-main-top {
                .box-news-child {
                    display: flex;
                    padding: 20px 0 20px 0;
                    border-bottom: 1px dotted $grey6;

                    .box-news-child-image {
                        width: 50%;
                    }

                    .box-news-child-content {
                        width: 50%;
                        padding-left: 10px;
                    }
                }
            }
        }

        .box-ads {
            padding-right: 16px;
            margin: 40px 0 20px 0;
        }
    }
}

#stock {
    .stock-main {
        .bg-grey7 {
            margin-bottom: 10px;
        }
        .box-header {
            margin-top: 20px;
        }

        .box-stock {
            border-bottom: 1px dashed $grey6;
            padding: 10px 0;

            .box-stock-child {
                padding-bottom: 15px;

                border-bottom: 1px dashed $grey6;
                display: flex;

                .box-stock-child-image {
                    width: 30%;
                }

                .box-stock-child-content {
                    width: 70%;
                    padding-left: 10px;
                }
            }
        }

        .box-stock:last-child {
            border-bottom: 0;
        }

        
        .form-vat {
            border: 1px solid $grey6;
            padding: 16px 0px 20px 21px;
            margin-top: 28px;
            .box-checkbox {
                div {
                    padding-top: 10px;
                }
            }
            .box-btn {
                padding-top: 24px;
            }
        }
        .col-md-8 {
            background-color: $grey7;
        }
    }
}

#real-estate,
#vietnam {
    .real-estate-main {
        .content-main {
            border-bottom: 1px dotted $grey6;
        }

        .real-estate-main-top {
            .box-news-child {
                display: flex;
                padding: 20px 0 20px 0;
                border-bottom: 1px dotted $grey6;

                .box-news-child-image {
                    width: 50%;
                }

                .box-news-child-content {
                    width: 50%;
                    padding-left: 10px;
                }
            }
        }

        .real-estate-main-bottom {
            padding-left: 15px;

            .box-header {
                color: $red;
            }

            .real-estate-main-top {
                .box-news-child {
                    display: flex;
                    padding: 10px 0 10px 0;
                    border-bottom: 1px dotted $grey6;

                    .box-news-child-image {
                        width: 50%;
                    }

                    .box-news-child-content {
                        width: 50%;
                        padding-left: 10px;
                    }
                }
            }
        }

        .box-ads {
            padding-right: 15px;
            margin: 40px 0 20px 0;
        }

        .box-image.d-md-none {
            padding: 20px;
        }
    }
}

#image {
    background: $grey2;
    color: $white;
    a {
        color: $white !important;
    }

    .image-main {
        .content-main {
            border-bottom: 1px dotted $grey6;
        }

        .image-main-top {
            .box-news-child {
                display: flex;
                padding: 10px 0 10px 0;
                border-bottom: 1px dotted $grey6;

                .box-news-child-image {
                    width: 50%;
                }

                .box-news-child-content {
                    width: 50%;
                    padding-left: 10px;
                }
            }
        }

        .image-main-bottom {
            padding-left: 15px;

            .box-header {
                color: $red;
            }

            .image-main-top {
                .box-news-child {
                    display: flex;
                    padding: 10px 0 10px 0;
                    border-bottom: 1px dotted $grey6;

                    .box-news-child-image {
                        width: 50%;
                    }

                    .box-news-child-content {
                        width: 50%;
                        padding-left: 10px;
                    }
                }
            }
        }

        .box-ads {
            padding-right: 15px;
            margin: 40px 0 20px 0;
        }

        .box-image.d-md-none {
            padding: 20px;
        }
    }
}

#cooperative,
#startup {
    .box {
        
        display: flex;
        border-bottom: 1px dashed $grey6;
        margin-bottom: 10px;
        margin-top: 0px;
        padding-bottom: 10px;

        .box-image {
            width: 50%;
        }

        .box-title {
            padding-top:10px;
            padding-left: 10px;
            width: 50%;
        }
        
    }

    .col-md-3:last-child {
        .box {
            border: 0;
        }
    }
}

#business {
    padding: 0 32px 25px 36px;
    background-color: $grey2;
    color: #fff;
    a{
        color: #fff;
    }
    .slick-prev {
        width:15px;
        height:24px;
        left: -23px;
        z-index: 9;
    }
    .slick-next {
        width:15px;
        height:24px;
        right: -18px;
    }

    .slick-list.draggable {
        margin: 0 15px;
    }

    .slick-dots li.slick-active button:before {
        color: $red;
        border: 0;
    }

    .slick-dots li button:before {
        color: $grey2;
        border: 1px solid #fff;
    }
}

#footer {
        margin-top:36px;
    
    .top-footer {
        background-color: $grey6;
        height: 50px;
        line-height: 50px;
        justify-content: space-between;

        .top-footer-left {
            display: flex;

            .box-icon {
                img {
                    background-color: $grey4;
                    padding: 5px;
                    border-radius: 3px;
                    margin-right: 10px;
                    margin-left: 15px;
                }
            }
        }

        .top-footer-right {
            display: flex;
            a,span{
                color: $grey3;
            }
        }
    }

    .mid-footer {
        background-color: $grey7;

        .row > div {
            border-bottom: 1px dashed #dedede;

            .h6 {
                padding: 10px 0;
            }
        }

        .mid-footer-child {
            display: none;
        }
    }

    .bot-footer {
        .bot-footer-logo {
            
        }

        .bot-footer-icons {
            display: flex;
        }
    }

    .bot-footer-content {
        > div {
            margin-bottom: 10px;
        }
    
    }

    .bot-footer-btn {
        margin: 0 15px;
        background-color: $grey7;
        text-align: center;

        a {
            color: $grey2;
        }
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    #header {
        margin-top: 20px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.22);
        box-shadow: none;

        .top-header {
            @include w970VsCenter;
            display: flex;
            justify-content: space-between;

            .top-header-icons {
                display: flex;
                align-items: center;
            }

            button.btn.btn-light {
                border: 1px solid #ced4da;
                border-left: 0;
            }
        }

        div#navbarN {
            border-bottom: 1px solid $grey6;
        }

        .active {
            a.nav-link {
                color: $red;
                border-bottom: 2px solid $red;
            }
        }

        .nav-header {
            @include w970VsCenter;
            padding: 0;
        }

        .header-banner-ads {
            @include w970VsCenter;
        }
    }
    
    #first-content,
    #first-content-thoi-su,
    #first-content-detail {
        @include w970VsCenter;
        margin-top: 20px;

        .box-header {
            h4 {
                padding-left: 10px;
            }
        }

        .col-md-4 {
            padding: 10px;
        }

        .right-first-content {
            .box-header {
                border-bottom: 1px solid $grey6;
                padding: 16px 12px;
            }
            .box-body {
                padding: 12px 0;
            }
            background-color: $white;
            border: 1px solid $grey6;
        }

        .box-ads {
            margin-top: 24px;
            padding: 0;
        }

        .box-bao-giay {
            border: 1px solid $grey6;
            margin-top: 24px;

            .box-header {
                padding: 12px 20px;
                border-bottom: 1px solid $grey6;

                .h4 {
                    padding-right: 20px;
                }
            }

            .box-main {
                margin: 16px;

                display: flex;

                .box-main-image {
                    padding-right: 16px;
                }

                .box-main-content {
                    position: relative;

                    .box-btn {
                        position: absolute;
                        bottom: 8px;
                        left: 0;
                    }
                }
            }
        }

        .box-top-views {
            border: 1px solid $grey6;
            margin-top: 20px;

            .box-header {
                padding: 12px 20px;

                border-bottom: 1px solid $grey6;
            }

            .box-main {
                .box-main-content {
                    .box-main-content-child {
                        padding: 16px;
                        display: flex;
                        border-bottom: 1px dotted $grey6;
                        .h2 {
                            color: $grey6;
                            margin-right: 10px;
                        }
                        .h6 {
                            color: $grey1;
                        }
                    }

                    .box-main-content-child:last-child {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }

    #thoi-su,
    #hi-tech,
    #other-news,
    #live {
        @include w970VsCenter;

        .thoi-su-main {
            .box {
                margin-top: 0;
                .box-title {
                    padding-top: 10px;
                }
                .box-content {
                    padding-top: 10px;
                }
            }
        }
    }

    #finance,
    #video,
    #world,
    #enterprise {
        @include w970VsCenter;
        .heading-category{
            padding: 32px 0 20px 0;
        }
        .finance-main {
            .content-main {
                border: 0;

                .box-title {
                    h3 {
                        font-size: 24px;
                        line-height: 30px;
                        font-family: "Roboto-bold";
                    }
                }
            }

            .finance-main-top {
                // border-bottom: 1px solid $grey6;
                .box-news-child:first-child{
                    padding-top: 0px;
                }
            }

            .finance-main-bottom {
                padding-left: 0;
                padding-bottom: 27px;
                .box-header {
                    padding: 16px 0;
                }
                .box-news-child {
                    display: flex;
                    .box-news-child-image {
                        width: 45%;
                    }
                    .box-news-child-content {
                        width: 55%;
                        padding-left: 14px;
                    }
                }
               
            }
        }
    }

    #stock {
        @include w970VsCenter;

        .stock-main {
            .box {
                margin-top: 0;
                .box-title {
                    padding-top: 10px;
                }
                .box-content {
                    padding-top: 10px;
                }
            }

            .box-header {
                margin-top: 28px;
                padding-top: 16px;
                padding-left: 20px;
            }
            .col-md-8 {
                background-color: $white;
            }
            .box-stock {
                border-bottom: 1px dotted $grey6;
                margin-right: 15px;
                padding: 12px 0 10px 20px;
                border-left: 1px dotted $grey6;
                .box-stock-child {
                    border-bottom: 0 !important;
                    display: flex;

                    .box-stock-child-image {
                        width: 34%;
                    }

                    .box-stock-child-content {
                        width: 66%;
                        padding-left: 12px;
                        .box-content {
                            padding-top: 8px;
                        }
                        .box-author {
                            padding-top: 11px;
                        }
                    }
                }

                .box-author {
                    padding-top: 4px;
                }
            }
            .col-md-6:first-child .box-stock {
                border-left: 0;
            }
            .box-stock:last-child {
                margin-bottom: 10px;
                border-bottom: 0;
            }

            .form-vat {
                border: 1px solid $grey6;
                padding: 16px 0px 20px 21px;
                margin-top: 28px;
                .box-checkbox {
                    div {
                        padding-top: 10px;
                    }
                }
                .box-btn {
                    padding-top: 24px;
                }
            }
        }
    }

    #real-estate,
    #vietnam {
        @include w970VsCenter;

        .real-estate-main {
            .real-estate-main-top {
            }
            .content-main {
                border: 0;
            }

            .finance-main-top {
                border-bottom: 1px solid $grey6;
            }

            .finance-main-bottom {
                padding-left: 0;
            }
        }
    }

    #image {
        @include w970VsCenter;

        .image-main {
            padding: 0 20px;

            .content-main {
                padding-bottom: 37px;
                border: 0;
            }

            .image-main-top {
                .box-news-child {
                    padding: 20px 0 20px 0;
                }
                .box-news-child:first-child {
                    padding-top: 0;
                }
            }
        }
    }

    #cooperative,
    #startup {
        @include w970VsCenter;

        .box {
            display: inherit;
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;

            .box-image {
                width: auto;
            }

            .box-title {
                padding-left: 0;
                width: auto;
            }
        }

        .col-md-6 {
            .box-title {
                .h5 {
                    font-size: 20px;
                    line-height: 26px;
                    font-family: "Roboto-bold";
                }
            }
        }

        .col-md-3:last-child {
            .box {
                border: 0;
            }
        }
    }

    #business {
        @include w970VsCenter;
        .heading-category-2{
            margin-top: 32px;
        }
        .box-news-child-content{
            padding-top:10px;
        }
    }

    #footer {
        .top-footer {
            @include w970VsCenter;

            .top-footer-left {
                .box-icon {
                    margin-left: 0;

                    img {
                        width: auto;
                        margin-left: 0;
                    }
                }
            }
        }

        .mid-footer {
            @include w970VsCenter;
            padding-bottom: 24px;
            .row > div {
                border-bottom: 0;

                .h6 {
                    padding-top:20px;
                    a{
                    padding-bottom: 0;
                    color: red;
                    font-family: "Roboto-bold";
                    }
                }
            }

            .mid-footer-child {
                display: block;
            }
        }

        .bot-footer {
            @include w970VsCenter;
            padding: 22px 0 24px 0;
            display: flex;
            justify-content: space-between;

            .bot-footer-icons {
                display: none;
            }
            .bot-footer-logo{
                
                margin-right: 60px;
            }
            .bot-footer-content {
                display: flex;
            }
        }
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .container-fluid {
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        margin-right: auto;
        margin-left: auto;
    }
    #header {
        .navbar-toggler {
            padding: 21px 16px;
            font-size: 1.25rem;
            line-height: 1;
            background-color: transparent;
            border: 1px solid transparent;
        }
        .logo {
            padding-top: 9px;
        }
    }
    #first-content {
        .left-first-content{
            .left-first-content-child-row-2{
                margin-top: 0px;
            }

        }
    }
    
    .stock-main {
        .box {
            margin-top: 0;
            .box-title {
                padding-top: 10px;
            }
            .box-content {
                padding-top: 10px;
            }
        }

        .box-header {
            margin-top: 28px;
        }
        .col-md-8 {
            background-color: $white;
        }
        
        /* #stock .stock-main .box-stock .box-stock-child{
            border-bottom: 1px dashed #dedede !important;
            padding-bottom: 12px;
        }
        #stock .stock-main .col-md-4 {
            padding: 0 16px;
        }  */
        .col-md-4 ,.col-md-8{
            padding: 0 16px;
        } 
        .box-stock {
            border-bottom: 1px dotted $grey6;
            // margin-right: 15px;
            padding: 16px 8px  16px 8px !important;
            border-bottom: 1px dotted $grey6 !important;

            .box-stock-child {
                padding-bottom: 0 !important;
                border-bottom: 0 !important;
                display: flex;
                .box-stock-child-image {
                    width: 34%;
                }

                .box-stock-child-content {
                    width: 66%;
                    padding-left: 12px;
                    .box-content {
                        padding-top: 8px;
                    }
                    .box-author {
                        padding-top: 11px;
                    }
                }
            }

            .box-author {
                padding-top: 4px;
            }
        }
        .col-md-6:first-child .box-stock {
            border-left: 0;
        }
        .col-md-6:last-child .box-stock:last-child{
            border-bottom: 0 !important;
        }

        .form-vat {
            border: 1px solid $grey6;
            padding: 16px 0px 20px 21px;
            margin-top: 28px;
            .box-checkbox {
                div {
                    padding-top: 10px;
                }
            }
            .box-btn {
                padding-top: 24px;
            }
        }
    }
    
}

@media (max-width: 767px) {
    #thoi-su,
    #hi-tech,
    #other-news,
    #live
    {
        .thoi-su-main{
            .box{
                display: flex;
                border-bottom: 1px dashed $grey6;
                padding-bottom: 20px;
                padding-top: 20px;
                margin-top: 0px;
                .box-img{
                    width: 50%;
                }
                .box-title{
                    padding-top: 0;
                    padding-left: 15px;
                    width: 50%;
                }
                .box-content{
                    display:none;
                }
            }
            .col-md-4:last-child .box{
                border-bottom: 0;
            }
        }   
    }
    #stock{
        .stock-main{
            .box{
                display: flex;
                border-bottom: 1px dashed $grey6;
                padding-bottom: 20px;
                padding-top: 20px;
                margin-top: 0px;
                .box-img{
                    width: 50%;
                }
                .box-title{
                    padding-top: 0;
                    padding-left: 15px;
                    width: 50%;
                }
                .box-content{
                    display:none;
                }
            }
            .col-md-4:nth-child(3) .box{
                border-bottom: 0;
            }
        }   
    }
}